


<table class="table table-striped tabl ">
  <thead>
    <tr class="success">
      <th>Order Amount</th>
      <th>Location</th>
      <th>Extra </th>

     </tr>
  </thead>
   <tbody>
      <tr>
        <% @orders.each  do |order| %>
  				<td><%= order.amount %> </td>
  				<td><%= order.source %> </td>
  				<td><%= link_to 'Delivery Info', "/users/#{@user.id}/orders/#{order.id}" %></td>	
   
      </tr>
      <% end %> 
   </tbody>
</table>