
<div class= "col-md-12">
	<div class = "col-md-6">
		<p id="welcome"> About Us </p>
		<p>This web application was founded by Simon Acosta. The idea of aplication emerged in Ironhack Madrid, a web development bootcamp. We are currently in our beta phase and trying to incorporate every aspect that new Pigglers suggest us. Right now the application is present just in Madrid.</p>
	</div>
	<div class = "col-md-6">
		<div class= "col-md-3">
		</div>
		<img src="/about_us.png" style="width:200px"> 
		</div>
	</div>
</div>

<hr>
<div class= "col-md-1"></div>
<div class="col-md-10">
	

	<h4>Founder</h4>
	<p>Simon Acosta, founder of Piggler is a Ecuadorian young adult pursuing the coding knowledge. He was born in 1993 in Quito, Ecuador and was raised in that pretty city until he graduated from high school. He attended college in American University, in Washington D.C, where he obtained the bachelor degree in Business Administration with a specialization in Information Techonology. After being 4 years in Washington, D.C, he was able to move to Miami to begin his professional carrer. 
	Mr. Acosta started working in Airis USA, a Spanish company that open doors in the USA in summer 2015. He was in control of all the operations of the company. He was in charged of the inventory and of keeping everyone in the sales team motivated. In August 2016, Simon unfortunately resigned to Airis because he wanted to achieve one of his major goals, which was to learn how to code. Nowadays, Simon leaves in Madrid after attending an 8 week web development in Ironhack Madrid.  
	</p>	

	<h4>How The Idea Emerged?</h4>
	<p>The basic concept of the web application emerged when our founder was living in Madrid. During his days in that beautiful city, he used to went to the supermarket by himself. One day, when he was buying some food, a problem occured. He didn't have any money in his wallet and the supermarket didn't accept credit card. He left the food there, went to the nearest ATM and was not able to obtain money due to credit card regulations. Unfortunately he return to the supermaket and embarrased told the cashier that he was not able to pay the food. In that moment, he came up with the idea that people around him can be able to lend him money and he would pay them through his credit card. With that in mind, Mr. Acosta grab his computer and here you have the Piggler App.</p>

	<h4>Special Mentions</h4>

	<p>This web application took various days of hard work of not just Simon. He was helped by the Ironhack team, specially the Teacher Assistants, Alejandro Ugena and Alfonso Huescar. In the same way, all his mates in the web bootcamp encouraged Simon to never give up in his ideas and assisted him with the development of Piggler. As well, his professors during the bootcamp play an important role in the process of this application. Additionally, he obtained help from various tutors in the final weeks. Therefore, for all the support he received, he would like to mention them to show them gratitude.</p>


</div>