
<div class= "col-md-12">
	<div class = "col-md-6">
		<p id="welcome"> About Us </p>
		<p>This web application was founded by Simon Acosta. The idea of the application emerged in Ironhack Madrid, a web development bootcamp. He was helped by the Ironhack team, specially the Teacher Assistants, Alejandro Ugena and Alfonso Huescar. In the same way, all his mates in the web bootcamp encouraged Simon to never give up in his ideas and assisted him with the development of Piggler. We are currently in our beta phase and trying to incorporate every aspect that new Pigglers suggest us. Right now the application is present just in Madrid.</p>
	</div>
	<div class = "col-md-6">
		<div class= "col-md-3">
		</div>
		<img src="/about.png" class= "about-image"> 
		</div>
	</div>
</div>

<hr>
<div class= "col-md-1"></div>
	<div class="col-md-10">
		<h2>Founder</h2>
		<p>Simon Acosta, founder of Piggler is a Ecuadorian young adult pursuing the coding knowledge. He was born in 1993 in Quito, Ecuador and was raised in that pretty city until he graduated from high school. He attended college in American University, in Washington D.C, where he obtained the bachelor degree in Business Administration with a specialization in Information Techonology. After being 4 years in Washington, D.C, he was able to move to Miami to begin his professional carrer. </p>
		<p>Mr. Acosta started working in Airis USA, a Spanish company that open doors in the USA in summer 2015. He was in control of all the operations of the company. He was in charged of the inventory and of keeping everyone in the sales team motivated. In August 2016, Simon unfortunately resigned to Airis because he wanted to achieve one of his major goals, which was to learn how to code. Nowadays, Simon leaves in Madrid after attending an 8 week web development in Ironhack Madrid.  
		</p>	

	</div>
<hr>