/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootswatch/darkly/variables";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

body {
	padding-top: 80px;
}
.navbar-right2 {
    margin-top: 10px;
    margin-right: 200px;
    float: right;
  }

.sign-up {
	position:absolute;
	margin-top: 100px;
	margin-left: 30px; 
}

h2 {
	color:#00bc8c;
}

.image-home {
	width: 600px;
	height: 400px;
	float:right;
	margin-top: 150px;
	margin-right: 220px;
}

.image-navbar{
	width:inherit;
	height:60px
}

h4 {
	color:#00bc8c;
}


.field {
	color:white;
	font-family: Comic Sans MS;
	font-size: 12px;
	width:300px;
}

.navbar {
	position: absolute;
	top:0;
	width: 100%;
}

.create {
	background-color: green;

}

#welcome {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 28px;
}

#error {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
}

.button {
	background-color: green;
}

img {
	width: 110px;
	height: 100px;
	margin: auto;
}

#text-intro {
	font-size: 14px;
}

.footer {
  position: inherit;
  bottom: 0; 
  clear:both;
  padding-top:20px;
  background-color: black;
} 

.col-md-10.pig-error {
margin-top: 300px;
	margin:auto;
}

.info-image {
	width: 900px;
	margin-left:150px;
	height: 350px;
}

#info-title {
	margin-left:450px;
}

.about-image {
	width:220px;
	height:200px;
	margin:auto;
}

.info-text {
	margin-left: 30px;
}

p.info-extra {
	width: 80%;
	text-align: justify;
}