.info-image {
	width: 700px;
	margin:auto;
	height: 200px;
	display:block;
}

#info-title {
	margin-left:450px;
}

.about-image {
	width:220px;
	height:200px;
	margin:auto;
}

p.info-extra {
	width: 80%;
	text-align: justify;
}