// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color:darkgray;
	
}

h2 {
	color:green;
}

.field {
	background-color:green;
	color:white;
	font-family: Comic Sans MS;
	font-size: 11px;
	width:300px;

}