// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#input-wrapper {
	width: 60%;
	margin: auto;
	
}

.add_location {
	margin-left: 50px;
	color: white;
	font-family: Comic Sans MS;
}

.requests {
	float:right;
	display:block;
	margin-right: 150px;
}

input#get-places {
	width: 500px;
	text-align: center;
	margin-left: 10%;
	margin-bottom: 4px;
}

#welcome {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 28px;
}

#text-intro {
	font-size: 14px;
	text-align:left;
}

input#search{
	margin-bottom: 4px;
	text-align:center;	
}

#piggy {
	width: 120px;
	height: 18px;		
}

span {
	margin-left:10px;
}

.amount-text {
	margin-left:180px;
	margin-top: 10px;
}

#order_amount {
	margin-left:20px;
}

.btn.btn-success2 {
	margin-left: 55px;
}