// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#input-wrapper {
	width: 60%;
	margin: auto;
	
}

.add_location {
	margin-left: 50px;
	color: white;
	font-family: Comic Sans MS;

}

input#get-places {
	width: 300px;
	text-align: center;
	margin-left: 10%;
	margin-bottom: 4px;

}


input#search{
	margin-bottom: 4px;
	text-align:center;	
}

#piggy {
	width: 120px;
	height: 18px;		
}